.services{
    background-color: var(--background-color);
    .service{
        margin-bottom: 24px;
        border-radius: 10px;
        min-height: 220px;
        background-color: #1c1c1c;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        .text{
            h4{
                font-size: 17px;
            }
            p{
                font-size: 12px;
                color: #878787;
            }
        }
    }
}
@media (max-width:786px) {
    .services .service{
        min-height: auto;
    }
}