.card {
    border: none;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: #1c1c1c !important;
    overflow: hidden;
    /* clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); */
    .img-container{
        height: 300px;
        img {
            border-radius: 5px;
            /* border: 1px solid #dbdbdb; */
            transition: .3s all;
            overflow: hidden;
            height: 100%;
            object-fit: cover;
            /* object-position: top; */
        }
    }
    .text {
        h4 {
            font-family: "Roboto Condensed", sans-serif;
            color: white;
        }
        span{
            color: #878787;
            font-size: 12px;
        }
    }
}


